/* By JCat */
/* Contacts: https://jocat.ru/ */

/* color: #ffde6b; */
/* color: #7c4dff; */
/* color: #393939; */

body {
    scroll-behavior: smooth;
    background-color: #fafafa;
}

.navbar,
.navbar .dropdown-menu {
    background-color: #393939;
}

.navbar a,
.navbar a:active,
.navbar li.active a {
    color: #eee;
}

.navbar a:hover,
.navbar a:focus {
    color: #ffde6b;
}

.navbar-toggler {
    border-color: #ccc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(238, 238, 238)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #444;
}

.navbar .dropdown-menu .dropdown-divider {
    border-color: #666;
}

.img-logo {
    height: 2rem;
    margin-right: 10px;
}

a,
a:hover,
a:focus {
    color: #7c4dff;
}

.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    padding: 8px 15px;
    border-bottom: 1px solid #dee2e6;
}

.js__toggle_content {
	display: none;
}
table {
	margin-top: 2rem;
    font-size: 14px;
}
table tbody {
    font-family: monospace;
}
table span {
    width: 27px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
table img {
    height: 24px;
}
table a:hover {
    text-decoration: none;
}

.list-unstyled {
	padding-left: 15px;
}