Options +Indexes
IndexOptions Charset=UTF-8 FancyIndexing FoldersFirst HTMLTable IconsAreLinks IgnoreCase SuppressRules VersionSort SuppressHTMLPreamble SuppressDescription SuppressColumnSorting
IndexIgnore .htaccess tpl
HeaderName /tpl/header.html
ReadmeName /tpl/footer.html

AddIcon /tpl/icons/folder.png ^^DIRECTORY^^
AddIcon /tpl/icons/folder-home.png ..
AddIcon /tpl/icons/zip.png .zip
AddIcon /tpl/icons/java.png .jar
AddIcon /tpl/icons/json.png .json
AddIcon /tpl/icons/txt.png .cfg .txt
DefaultIcon /tpl/icons/default.png
